.header{
    background-color: #222222;
    padding: 10px;
    margin: -10px;
    height: 60px;
}
.image{
    width: 120px;
    margin-left: 70px;
    margin-top: 8px;
}
.a-header{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
}
.a-head{
    margin-top: 35px;
    margin-right: 750px;
    margin-left: 60px;
}
#home{
    text-decoration: none;
    color: #cc1d24;
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
}
.a-header:hover{
    color: #cc1d24;
    transition-duration: 0.4s;
}
.order-button{
    border: 1px solid #cc1d24;
    background-color: #cc1d24;
    border-radius: 4px;
    padding: 0px;
    margin-right: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;    
}
.delivery-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.ii{
    border: 2px solid #cc1d24;
}
.background{
    width: 100%;
    margin: -10px;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -10px;
}
@font-face {
    font-family: josefinsans ;
    src: url(fonts/JosefinSans-Thin.ttf);
}
@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis-VariableFont_wght.ttf);
}
@font-face {
    font-family: philosopher;
    src: url(fonts/Philosopher-Regular.ttf);
}
.middle{
    display: flex;
    flex-direction: column;
    background-image: url(images/salt-n-pepper-express-background.jpg);
    background-attachment: fixed;
    border: 1px solid #cc1d24;
}
.logo{
    border: 1px solid black;
    padding: 50px 15px 41px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.img-logo{
    width: 280px;
    display: block;
    margin: auto;
    
}
.box{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 60px;
}
.welcome{
    font-family: josefinsans;
    color: #ffffff;
    font-size: 100px;
    letter-spacing: 15px;
    margin-top: 200px;
}
.w-logo{
    margin-top: -22px;
    
}
.restaurent{
    font-family: josefinsans;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    margin-top: 10px;
}
.our-brand{
    font-family: philosopher;
    color: #ffffff;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 60px;
}
.paragraph{
    font-family:  Dosis;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 60px;
    color: #ffffff;
    margin-top: -20px;

}
.centre{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: -10px; 
     border: 2px solid #cc1d24;
}
.minar{
    width: 350px;
    margin-top: 50px;
}
.backk{
    margin-top: 40px;
}
.restaurant{
    font-size: 50px;
    color: #cc1d24;
    font-family: philosopher;
    margin-top: 10px;
}
.para{
    font-size: 20px;
    font-family: philosopher;
    color: #ffffff;
    margin-top: -40px;
    font-weight: lighter;
}
.location-icon{
    width: 30px;
    margin-top: 30px;
}
.islamabad{
    text-align: center;
    background-image: url(images/islamabad.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 250px;
    width: 350px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    margin-right: 25px;
}
.faisalabad{
    text-align: center;
    background-image:  url(images/SaltnPepper-faislabad.jpg);
    background-position: 100%;
    background-size: 100%;
    background-blend-mode: darken;
    height: 250px;
    width: 350px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    margin-right: 25px;
}
.bahawalpur{
    text-align: center;
    background-image: url(images/Salt-n-Pepper-Restaurant-Bahawalpur-Franchise.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 250px;
    width: 350px;
    border: 3px solid #ffffff;
    border-radius: 4px;
}
.img-span{
    opacity: 30%;
}
.h3{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: bolder;
}
.p1{
    color: white;
    font-size: 15px;
}
.p2{
   color: #ffffff; 
   font-weight: bolder;
}
.bg-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.motorway{
    text-align: center;
    background-image: url(images/behra.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 250px;
    width: 350px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    margin-right: 25px;
}
.pakages-mall{
    text-align: center;
    background-image: url(images/express\ pakage\ mall.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 250px;
    width: 350px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    margin-right: 25px;
}
.emporium{
    text-align: center;
    background-image: url(images/emporium.jpg);
    background-position: 100%;
    background-size: 100%;
    height: 250px;
    width: 350px;
    border: 3px solid #ffffff;
    border-radius: 4px;
}
.h3head{
    font-size: 50px;
    color: #cc1d24;
    font-family: philosopher;
    margin-top: 10px;
    text-align: center;
}
.hr1{
    width: 400px;
    margin-top: 5px;
}
.franchise-box{
    display: flex;
    padding: 50px;
}
.opening{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: -30px;
}
.hr2{
    width: 100px;
}
.gujranwala , .wapda , .al-jalil{
    background-color: #ffffff;
    border: 2px solid #cc1d24;
    width: 350px;
    height: 200px;
    margin-right: 20px;
}
.kamoke ,.sheikh{
    background-color: #ffffff;
    border: 2px solid #cc1d24;
    width: 350px;
    height: 200px;
    margin-right: 20px;  
    margin-bottom: 80px;
}
.p11{
    color: #222222;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.location-iconn{
    width: 30px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.boxx{
    display: flex;
    margin-top: 20px;
    padding: 30px;
}
.remain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.box5{
    background-color: #ffffff;
    border: 2px solid #cc1d24;
    width: 350px;
    height: 200px;
    margin-right: 20px;
    margin: auto;   
    margin-top: 40px;
    padding: 20px;
    
}
.hr3{
    width: 100px;
    margin-top: -30px;
}
.hr8{
    width: 1500px;
    
}
.h4head{
    font-size: 50px;
    color: #cc1d24;
    font-family: philosopher;
    margin-top: 10px;
    text-align: center;
    margin-top: 100px;
}
.last2{
    margin-bottom: 100px;
}
.footer{
    background-color: #222222;
    margin-left: -10px;
    margin-right: -10px;
}
.paraa{
    color: #ffffff;
}
.tr1{
    margin-left: 20px;
}
.play{
    width: 150px;
}
.plays{
    width: 150px;
}
.followus{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.h2s{
    color: #ffffff;
}
.redd{
    border: 2px solid #cc1d24;
}
.lii{
    color: #ffffff;
    font-weight: 100px;
    font-family: dosis;
}
.lii:hover{
    color: #cc1d24;
    transition-duration: 0.3s;
}
.reddd{
    width: 150px;
    border: 2px solid #cc1d24;
}
.footer{
    padding-bottom: 50px;
    border-top: 2px solid #cc1d24;
    padding-top: 50px;
}