.header{
    background-color: #222222;
    padding: 10px;
    margin: -10px;
    height: 60px;
}
.image{
    width: 120px;
    margin-left: 70px;
    margin-top: 8px;
}
.a-header{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
}
.a-head{
    margin-top: 35px;
    margin-right: 750px;
    margin-left: 60px;
}
#home{
    text-decoration: none;
    color: #cc1d24;
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
}
.a-header:hover{
    color: #cc1d24;
    transition-duration: 0.4s;
}
.order-button{
    border: 1px solid #cc1d24;
    background-color: #cc1d24;
    border-radius: 4px;
    padding: 0px;
    margin-right: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;    
}
.delivery-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.ii{
    border: 2px solid #cc1d24;
}
.background{
    width: 100%;
    margin: -10px;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -10px;
}
@font-face {
    font-family: josefinsans ;
    src: url(fonts/JosefinSans-Thin.ttf);
}
@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis-VariableFont_wght.ttf);
}
@font-face {
    font-family: philosopher;
    src: url(fonts/Philosopher-Regular.ttf);
}
.middle{
    display: flex;
    flex-direction: column;
    background-image: url(images/salt-n-pepper-express-background.jpg);
    background-attachment: fixed;
}
.logo{
    border: 1px solid black;
    padding: 50px 15px 41px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.img-logo{
    width: 280px;
    display: block;
    margin: auto;
    
}
.box{
    width: 20%;
    display: flex;
    justify-content: center;
}
.welcome{
    font-family: josefinsans;
    color: #ffffff;
    font-size: 100px;
    letter-spacing: 15px;
    margin-top: 200px;
}
.w-logo{
    margin-top: -22px;
    
}
.restaurent{
    font-family: josefinsans;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 15px;
    margin-top: 10px;
}
.our-brand{
    font-family: philosopher;
    color: #ffffff;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 60px;
}
.paragraph{
    font-family:  Dosis;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 60px;
    color: #ffffff;
    margin-top: -20px;

}
